body,html,div{

    height: 100%;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 11px;
}

table {
    border-collapse: collapse;
}
td {
    padding: 0px;
}

.timesheet_body{
    position: absolute;
    left:382px;
    top:24px;
    background-color: #FFFFFF;    
    z-index: 20;
    text-align: center;

}

.timesheet_fixed{
    table-layout: fixed;
    position: fixed;
    left:00px;
    top:24px;
    width: 382px;
    margin-top: 0px;
    background-color: #FFFFFF;
    z-index: 40;
}

.timesheet_fixed_head{
    table-layout: fixed;
    position: fixed;
    left:0px;
    top:0px;
    width: 382px;
    background-color: #FFFFFF;
    z-index: 80;   
}

.head, .fixed_head{
    color: #2D2D2D;
    padding-top: 2px;
    min-height: 20px;
    border-bottom: solid 2px  #656565;
    font-size: 13px;
    font-weight: bold;
    background-color: #559EFF;
}

.timesheet_head{
    position: fixed;
    left: 382px;
    top: 0px;
    background-color: #FFFFFF;
    z-index: 60;
    text-align: center;   
}

.worktime, .delay{
    padding-top: 3px;
    border-bottom: dotted 1px  #656565;
    min-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    width: 35px;
    max-width: 35px;
}

.worktime{
    text-align: right;
    padding-right: 2px;
}

.delay{
    border-right: dotted 1px  #656565;
    padding-left: 2px;
    text-align: left;
    
    border-top: 1px;
}

.masked{
    color:#656565;
}


.head{
    border-right: dotted 1px  #656565;
    width: 74px;
    max-width: 74px;
    white-space: nowrap;
    overflow: hidden;   
}

.normal.ttl-t, .normal.ttl-d, .masked.ttl-d, .masked.ttl-t{
    
    padding-top: 3px;
    border-right: dotted 1px  #656565;
    min-height: 16px;
    border-bottom: dotted 1px  #656565;
}

.normal.ttl-t {
    font-weight: bold;
}

.normal.ttl-d {
    color: #C51D00;
}

.incorrect.worktime, .incorrect.worktime.normal{
    color:#35518F;
}

.ttl-t, .ttl-d{
    width: 80px;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
}

.appoint,.name,.subdiv {padding-left: 4px;}
.appoint { 
    border-right:solid 2px  #656565;
    padding-right: 2px;
}

.name{
    border-right: dotted 1px  #656565;
}

.subdiv{
    border-right: dotted 1px  #656565;
}

.name.fixed {
    padding-top: 3px;
    border-bottom: dotted 1px  #656565; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 16px;
}

.appoint.fixed {
    padding-top: 3px;
    border-bottom: dotted 1px  #656565;
    min-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.subdiv.fixed {
    padding-top: 3px;
    border-bottom: dotted 1px  #656565;
    min-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col_name {
    width: 206px;
}
.col_appoint {
    width: 88px;
}
.col_subdiv {
    width: 88px;
}
.freeday{
    background-color: #FFD1A9;
}

.freeday.head{
    background-color: #FFB16D;
}
.normal.worktime {
    color: #00741A;
    font-weight:bold;
}
.normal.delay {
    color: #C51D00;
}